<form [formGroup]="productForm">
    <div class="example-container">
        <div id="check-draft"><mat-checkbox formControlName="is_draft">Draft</mat-checkbox></div>
        <mat-form-field>
            <input matInput #name placeholder="What are you selling?" formControlName="name" maxlength="100">
            <mat-hint align="end">{{name.value.length}} / 100</mat-hint>
            <mat-error>
                This field is required.
            </mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <input matInput placeholder="Price" type="number"  class="example-right-align" min="0" formControlName="price" >
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
            <mat-error>
                This field is required.
            </mat-error>
        </mat-form-field><br>
        
        <mat-form-field>
            <input matInput id="place" #search formControlName="location" placeholder="Location" type="text" class="example-right-align" autocomplete="off">
            <span matPrefix><i class="fas fa-map-marker-alt"></i>&nbsp;</span>
            <mat-error>
                This field is required.
            </mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <select matNativeControl placeholder="Select a Category" name="car" formControlName="category" >
                <option value="" selected></option>
                <option>Mimi</option>
            </select>
            <mat-error>
                This field is required.
            </mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <textarea matInput #description placeholder="Describe Item" formControlName="description" maxlength="500" ></textarea>
            <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
        </mat-form-field>

        <div class="form-group">
            <input type="file" accept=".png, .jpg, .jpeg"  class="form-control" multiple><br>    
        </div>

        <div class="form-group">
            <span></span>
            
        </div>
        
        
        <mat-form-field>
            <input matInput placeholder="Stocks on Hand" type="number" class="example-right-align" min="1" formControlName="stocks" >
            <span matPrefix>#&nbsp;</span>
            <mat-error>
                This field is required.
            </mat-error>
        </mat-form-field><br>
    </div>      

    <div class="form-group">
        <button id="btn-create" class="btn btn-fb btn-sm" [disabled]="!productForm.valid" type="submit">Submit</button>
    </div>
</form>