.example-container {
    display: flex;
    flex-direction: column;
  }
  
.example-container > * {
  width: 100%;
}
  
.mat-form-field-infix {
    font-size: 13px!important;
}

.mat-select-panel {
    margin-top: 45px;
}


span.mat-checkbox-label {
  font-size: 14px;
}

#btn-create{
  float: right;
  margin-top: 10px;
}

.btn-fb{
  background-color: #4267b2!important;
  border-color: #4267b2!important;
  color: white!important;
}


.imagecontainer{
  position: relative;
  width: 100%;
  max-width: 500px;
}

.image{
  display:block;
  width: 100%;
  height: auto;
}

.overlay{
  position: absolute; 
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}

.imagecontainer:hover .overlay{
  opacity: 1;
}

.icon{
  color:white;
  font-size: 18px;
  position: absolute;
  top: 69%;
  left: 47%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}