<div class="container">
  <div class="card">
    <div class="card-body">
      <h3>Create a New Account</h3>
      <hr>
      {{ message }}
      <form >
          <div class="form-group">
            <label for="formGroupExampleInput">First name</label>
            <input [(ngModel)]="register.firstname" id="firstname" name="firstname" type="text" class="form-control" [ngModelOptions]="{standalone: true}" #firstname="ngModel" required>
            <span *ngIf="firstname.invalid && (firstname.dirty || firstname.touched )">
                <small id="firstnamehelp" class="form-text text-muted" *ngIf="firstname.errors.required" style="color:maroon!important">First name is required.</small>
            </span>
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput2">Last name</label>
            <input [(ngModel)]="register.lastname" id="lastname" name="lastname" type="text" class="form-control" [ngModelOptions]="{standalone: true}" #lastname="ngModel" required>
            <span *ngIf="lastname.invalid && (lastname.dirty || lastname.touched  )">
                <small id="lastnamehelp" class="form-text text-muted" *ngIf="lastname.errors.required" style="color:maroon!important">Last name is required.</small>
            </span>
          </div>

          <div class="form-group">
              <label for="formGroupExampleInput2">Username</label>
              <input  [(ngModel)]="register.username" id="username" name="username" type="text" class="form-control" [ngModelOptions]="{standalone: true}" #username="ngModel" maxlength="150" required>
              <small id="usernamehelp" class="form-text text-muted" >Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
              <span *ngIf="username.invalid && (username.dirty || username.touched  )">
                  <small id="usernamehelp" class="form-text text-muted" *ngIf="username.errors.required" style="color:maroon!important">Username is required.</small>
              </span>
          </div>
          <div class="form-group">
              <label for="formGroupExampleInput2">Email</label>
              <input  [(ngModel)]="register.email" type="email" class="form-control"  id="email" name="email" [ngModelOptions]="{standalone: true}" #email="ngModel" required>
          </div>

          <div class="form-group">
              <label for="formGroupExampleInput2">Password</label>
              <input [(ngModel)]="register.password" type="password" id="password" name="password" class="form-control" [ngModelOptions]="{standalone: true}" #password="ngModel" minlength="8" required>
              <small id="passwordhelp" class="form-text text-muted" style="margin-top:5px;">Your password must contain at least 8 characters.</small>
              <span *ngIf="password.invalid && (password.dirty || password.touched  )">
                  <small id="passwordhelp" class="form-text text-muted" *ngIf="password.errors.required" style="color:maroon!important">Password is required.</small>
              </span>
          </div>

          <button class="btn btn-primary btn-fb" type="submit" (click) ="registerUser()">Sign up</button>
        </form> <hr>
        <small class="form-text text-muted" style="margin-top:5px;">Already Have An Account? <a>Sign In</a></small>
    </div>
  </div>
</div>